*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}
body{
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-image: url("image/pexels-pixabay-209831.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}
.whole{
    width: 400px;
}
.search{
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(255, 255, 255); */
}
.btn{
    border: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 21, 158, 0.482);
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 20px ;
    border-top-right-radius:  20px;
}
#search::placeholder{
    color: white;
    opacity: 0.3;
}
#search{
    background-color: transparent;
    color: white;
    width: 80%;
    box-shadow: inset 0 0 3px black;
    font-size: 20px;
    padding: 0 20px;
    height: 100%;
    border: 0;
    outline: none;
    border-bottom-left-radius: 20px ;
    border-top-left-radius:  20px;
    
}
[type="text"]{
    border-bottom-left-radius: 20px ;
    border-top-right-radius: 20px ;
    font-family: 'Poppins', sans-serif;
    font-size: 15px !important;
    color: white !important;
    text-shadow: 1px 1px 2px black;
}
.card{
    margin: 10px 0;
    width: 100%;
    min-height: 380px;
    height: max-content;
    padding: 20px 0;
    background-color: rgba(191, 191, 191, 0.164) !important;
    background-size: 250px 250px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;  
    border-radius: 20px;  
}
.title{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    width: 400px;
    letter-spacing: 5px ;
    padding-bottom: 20px;
    text-align: center;
}
.cardShow{
    display: flex;
    flex-direction: column;
}
.select{
    margin: 5px 20px;
    height: max-content;
    border: 0;
    padding: 10px;
    color: rgb(31, 31, 31);
    font-size: 18px;
    background-color: rgba(0, 80, 200, 0.167);
    border-left: 4px solid black;
}
.both{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
p{
    margin-left: 5%;
    text-shadow: 0.5px 0.5px white;
}
.text{
    text-decoration: underline;
    text-underline-offset: 4px;
    
}
@media only screen and (min-width:600px)  {
    body{
        height:97vh;
        backdrop-filter: blur(5px);
        background-image: url("image/pexels-pixabay-209831.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .both{
        flex-direction: row;
    }
    .cities{
        width: 50%;
    }
}
.noresult{
    padding-top: 10px;
    width: 100%;
    height: 380px;
}
#noresult{
    width: 400px;
    text-align: center;
    text-shadow: 2px 2px  rgb(0, 0, 0);
    color: white;
}
.noresult2{
    width: 100%;
    height: 380px;
}
#noresult2{
    width: 400px;
    text-align: center;
    color: white;
    font-size: 28px !important;
    text-shadow: 2px 2px rgb(86, 86, 86);
}
.footer{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:0;
    color: black;
    /* text-shadow: 1px 1px white; */
}